<div class="container">
  <h1><center>Search snippets from Redis code base!</center></h1>
  <br>
  <div class="row">
    <div class="col-md-6">
      <input type="text" class="form-control" id="query">
    </div>
    <div class="col-md-4">
      <select class="selectpicker" id="criteria">
        <option value="1">Any</option>
        <option value="2">Function</option>
        <option value="3">Parameter</option>
        <option value="4">Variable</option>
      </select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-default" id="go">Go!</button>
    </div>
  </div>
  <br>
  <center>
    <div class="row">
      <div class="errors"></div>
    </div>
  </center>
</div>
